* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #484848;
  font-size: 24px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 75px 15px;
}

.wrapper__element {
  width: 40%;
}

.wrapper__element--img {
  text-align: center;
}

.wrapper__about-me {
  align-items: flex-start;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 150px;
  padding: 75px 0;
  background-color: #f1f0f0;
  border-right: 1px solid #406959;
  z-index: 1;
}

.nav__logo {
  height: 75px;
  position: absolute;
  top: 50px;
}

.nav__element {
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #484848;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.nav__element:hover {
  background-color: #484848;
  color: #F7F7F7;
}

.header {
  background-image: url("../img/background1.png");
  background-position: center;
  margin-left: 150px;
  padding: 50px 0;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.social-media__icon {
  text-decoration: none;
  color: #4E816D;
  font-size: 35px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.social-media__icon:hover {
  background-color: #4E816D;
  color: #f1f0f0;
}

.header__title {
  font-family: 'Open Sans', sans-serif;
  color: #4E816D;
  font-size: 65px;
  position: relative;
}

.header__description {
  position: relative;
  color: #F7F7F7;
  background-color: #484848;
  padding: 15px;
  border-radius: 5px;
  line-height: 1.2;
}

.header__description::before {
  content: "";
  position: absolute;
  top: -85px;
  left: -40px;
  background-color: #F7F7F7;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header__img {
  width: 100%;
}

.about-me {
  background-image: url("../img/background2.png");
  background-position: center;
  margin-left: 150px;
  padding: 50px 0;
}

.about-me__img {
  width: 110%;
}

.about-me__title {
  font-size: 45px;
  margin-bottom: 25px;
}

.skills {
  margin: 0 15px;
}

.skills__element {
  text-align: left;
  list-style-type: none;
}

.skills__element > .fab, .skills__element .fas {
  font-size: 26px;
  padding-right: 20px;
}

.skills__element > .iconify {
  font-size: 26px;
}

.skills__element > th {
  font-weight: 300;
}

.interests__element {
  list-style-type: none;
  margin: 0 15px;
}

.job__title {
  font-size: 26px;
  margin: 0 15px;
}

.job__subtitle {
  font-size: 16px;
  margin: 0 15px;
}

.job__description {
  margin: 0 15px;
}

.about-me__decoration {
  background-color: #484848;
  color: #F7F7F7;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.about-me__decoration::before, .about-me__decoration::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #F7F7F7;
  position: absolute;
}

.about-me__decoration::before {
  top: -10px;
  left: 10px;
}

.about-me__decoration::after {
  top: 10px;
  left: -10px;
}

.about-me__decoration--background-green {
  background-color: #4E816D;
  color: #F7F7F7;
}

.about-me__decoration--background-green::before, .about-me__decoration--background-green::after {
  border: 1px solid #484848;
}

.about-me__decoration--background-white {
  background-color: #F7F7F7;
  color: #484848;
}

.about-me__decoration--background-white::before, .about-me__decoration--background-white::after {
  border: 1px solid #484848;
}

/*# sourceMappingURL=style.css.map */