@import "./global.scss";

.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 150px;
    padding: 75px 0;
    background-color: $color-grey;
    z-index: 2;
}

.nav__logo {
    height: 75px;
    position: absolute;
    top: 50px;
}

.nav__element {
    margin: 15px 0;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 20px;
    color: $color-black;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $color-black;
        color: $color-white;
    }
}

.nav__element--active {
    background-color: $color-black;
    color: $color-white;
}

.header {
    display: flex;
    align-items: center;
    height: 100vh;
    z-index: 0;
}

.hamburger {
    position: fixed;
    display: none;
    left: 30px;
    top: 25px;
    outline: none;
    z-index: 2;
    background: $color-grey;
    border: 1px solid $color-black;
    border-radius: 10px;
}

.social-media {
    position: absolute;
    right: 30px;
    top: 30px;
}

.social-media__icon {
    text-decoration: none;
    color: $color-black;
    font-size: 30px;
    padding: 8px 12px;
    margin: 0 10px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $color-black;
        color: $color-white;
    }
}

.header__title {
    font-family: 'Open Sans', sans-serif;
    color: $color-green;
    font-size: 60px;
    position: relative;
    padding-left: 15px;
}

.header__description {
    position: relative;
    color: $color-white;
    font-size: 25px;
    background-color: $color-black;
    padding: 18px;
    border-radius: 10px;

    &::before {
        content: "";
        position: absolute;
        top: -80px;
        left: -15px;
        background-color: $color-white;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.header__img {
    width: 100%;
}

.about-me__img {
    width: 100%;
}

.about-me__title {
    font-size: 35px;
    margin: 25px 15px;
}

.skills {
    margin: 0 15px;
    display: inline-flex;
}

.skills__element {
    text-align: left;
    list-style-type: none;

    & > .fab, .fas, .iconify {
        font-size: 26px;
        margin-right: 20px;
    }

    & > th {
        font-weight: 300;
    }
}

.interests__element {
    list-style-type: none;
    margin: 15px;
}

.job__title {
    font-size: 24px;
    margin: 0 15px;
}

.job__subtitle {
    font-size: 15px;
    display: block;
    margin: 0 15px 10px;
}

.job__description {
    margin: 10px 15px;
}

.projects__img {
    width: 100%;
}

.project__img {
    width: 100%;
    border-radius: 10px;
}

.project__description {
    color: $color-white;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 10px;
}

.project__description--black {
    color: $color-black;
}

.project__btn {
    text-decoration: none;
    color: $color-white;
    font-weight: 500;
    display: inline-block;
    margin: 10px;
    padding: 5px 12px;
    border: 1px solid;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $color-white;
        border-color: $color-white;
        color: $color-green;
    }
}

.project__btn--white {
    &:hover {
        color: $color-black;
    }
}

.contact {
    max-height: 100vh;
    position: relative;
}

.contact__element {
    list-style-type: none;
    padding: 15px;
    margin: 15px 0;
}

.contact__link {
    text-decoration: none;
    color: $color-white;
    display: flex;
    align-items: center;
    transition: 0.3s;
    font-size: 26px;

    & > .fas, .far, .fab {
        font-size: 40px;
        min-width: 55px;
    }

    &:hover {
        color: $color-dark-green;
    }
}

.contact__img {
    height: 60vh;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5vh;
    width: 100%;
    text-align: right;
    padding: 0 25px;
}

@media(max-width: 1200px) {
    .nav {
        width: 125px;
    }

    .nav__element {
        font-size: 18px;
    }

    .header__title {
        font-size: 55px;
    }
    
    .about-me__title {
        font-size: 28px;
    }

    .job__title {
        font-size: 22px;
    }

    .job__subtitle {
        font-size: 12px;
    }

    .contact__link {
        font-size: 22px;
    
        & > .fas, .far, .fab {
            font-size: 35px;
            min-width: 45px;
        }
    }
}

@media(max-width: 992px) {
    .nav {
        width: 50vw;
        left: -50vw;
        transition: 0.5s;
    }

    .nav__active {
        transform: translateX(50vw);
    }

    .nav__element {
        font-size: 24px;
    }
    
    .hamburger {
        display: block;
    }

    .header__title {
        font-size: 45px;
    }

    .header__description {
        left: 7.5px;
        font-size: 22px;

        &::before {
            top: -65px;
        }
    }

    .about-me__title {
        font-size: 25px;
    }

    .job__title {
        font-size: 20px;
    }

    .job__subtitle {
        font-size: 10px;
    }

    .contact {
        height: auto;
    }

    .contact__img {
        height: auto;
        width: 50%;
    }

    .contact__link {
        font-size: 20px;
    
        & > .fas, .far, .fab {
            font-size: 34px;
            min-width: 40px;
        }
    }
}

@media(max-width: 768px) {
    .nav {
        width: 100vw;
        left: -100vw;
    }

    .nav__active {
        transform: translateX(100vw);
    }

    .header, .projects {
        background-color: $color-green;
    }

    .about-me, .contact {
        background-color: $color-white;
    }

    .hamburger {
        top: 30px;
        padding: 8px 8px 5px 8px;
    }

    .social-media {
        right: 30px;
        top: 30px;
    }
    
    .social-media__icon {
        color: $color-white;
    
        &:hover {
            background-color: $color-white;
            color: $color-green;
        }
    }

    .project__description--black {
        color: $color-white;
    }

    .about-me__title {
        font-size: 24px;
    }

    .job__title {
        font-size: 24px;
    }

    .job__subtitle {
        font-size: 18px;
    }

    .contact__img {
        display: none;
    }

    .contact__link {
        color: $color-black;
    }

    .footer {
        background-color: $color-white;
        text-align: center;
    }
}

@media(max-width: 576px) {
    .nav__element {
        margin: 10px 0;
        padding: 12px 8px;
        font-size: 18px;
    }

    .social-media__icon {
        font-size: 25px;
    }

    .header__title {
        font-size: 30px;
    }

    .header__description {
        font-size: 16px;

        &::before {
            top: -45px;
        }
    }

    .project__description {
        font-size: 18px;
        padding: 10px;
    }

    .about-me__title {
        font-size: 22px;
    }

    .job__title {
        font-size: 20px;
    }

    .job__subtitle {
        font-size: 14px;
    }

    .contact {
        height: 100vh;
        padding-bottom: 0;
    }

    .contact__link {
        font-size: 17px;
    }
}

@media (min-width: 576px) and (max-width: 992px) and (max-height: 420px) {
    .header, .about-me, .projects, .contact {
        height: auto;
        padding-top: 50px;
    }

    .nav__element {
        margin: 0;
    }

    .contact {
        max-height: 200vh;
        padding-bottom: 0;
    }

    .footer {
        height: 10vh;
    }
}


@media (max-width: 350px) and (max-height: 570px) {
    .social-media__icon {
        font-size: 25px;
        padding: 10px 15px;
        margin: 0;
    }

    .header__title {
        font-size: 30px;
    }

    .header__description {
        &::before {
            top: -50px;
        }
    }

    .about-me__title {
        font-size: 20px;
    }

    .project__description {
        font-size: 16px;
    }

    .contact__link {
        font-size: 14px;
    }
}